@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #19212b;
    --second-bg-color: #323946;
    --text-color: #f7f6f6;
    --main-color: rgb(138, 185, 199);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 70vh;
    padding: 9rem 8% 6rem;

}

.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    padding-bottom: 2rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 2px solid #1f242d;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
   width: 15vw;
    margin-top: 0px;
    margin-bottom: 75rem;
    margin-left: -40rem;
    border-radius: 28%;
    transform: rotate(2deg);
    animation: floatImage 30s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }

}


.home-content h3 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 4.6rem;
    font-weight: 800;
    line-height: 1.6;
}

.home-content p {
    font-size: 1.6rem;
    margin-top: 5rem;
    position: relative;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 5rem 1.5rem 5rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn {
    margin-top: 6rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-bottom: 1rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    padding-top: 6rem;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 60vh;
    border-radius: 70%;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 1s;
}

.about-img img:hover {
    transform: scale(1.2);
    transition: 2s;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-top: 22px;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

/**botton modal*/
.botton-modal {

    border-radius: 4rem;
    margin-top: 50px;
    padding: 0px;
    background-color: #323946;
}

.botton-modal label {

    display: inline-block;
    padding: 1rem 2.8rem;
    margin-bottom: 6rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

/**fin botton modal*/

/**ventana modal*/
#btn-modal {
    display: none;
}

#btn-modal:hover {
    box-shadow: none;
}

.container-modal {
    width: 100%;
    height: 15vh;
    border-radius: 4rem;
    position:relative;
    top: 0px;
    left: 0;
    background-color: #323946;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 10px;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
    z-index: 0.9;
}
/*contenido modal*/
.content-modal {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 140rem;
    max-width: 100%;
    padding: 40px 20px;
    background-color: #f7f6f6;
    border-radius: 20px;
}

.container-modal h2 {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 15px;
}

.container-modal p {
    color: #000000;
    padding: 1px 1px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar {
    color: #000000;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 8px 50px;
    font-size: 16px;
    background-color: #2d58a7;
    color: #f7f6f6;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
    background-color: #021e42;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/**fin ventana modal modal*/

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
/*cards*/
.services-container .services-box {
    flex: 1 1 90rem;
    background: var(--second-bg-color);
    padding: 5rem 2rem 0rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1% 10px 5rem;
}

.porfolio {
    background: var(--second-bg-color);
}

.porfolio h2 {
    margin-bottom: 4rem;
}

.porfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.porfolio-container .porfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.porfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.porfolio-box:hover img {
    transform: scale(1.1);
}

.porfolio-box .porfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.porfolio-box:hover .porfolio-layer {
    transform: translateY(0);
}

.porfolio-layer h4 {
    font-size: 2rem;
}

.porfolio-layer p {
    font-size: 1.6rem;
    margin: .2rem 0 1rem;

}

.porfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.porfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    left: 61rem;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 30px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* brekpoint */

@media (max-width: 1200px) {
    html {
        font-size: 50%;
        top: 3rem;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .home-content p {
    font-size: 1.8rem;
    margin-top: 38rem;
    position: relative;

    }

    section {
        padding: 2rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .porfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-width: auto;
    }

    .footer {
        padding: 6rem 3%;
    }

    .container-boton {
        background-color: #2e6329;
        border: 1px solid #fff;
        position: absolute;
        z-index: 999;
        border-radius: 50%;
        left: 43rem;
        margin-bottom: 162rem;
        padding: 5px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
        }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        margin-bottom: 10px;
        font-size: 3rem;
        position: absolute;
    }

    .home-content h1 {
        font-size: 5rem;
        margin-top: 25rem; 
    }

    .home-img img {
        width: 80vw;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: 0px;

    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 95vw;
        margin-top: 4rem;
    }

    .about-img img:hover {
        transform: scale(1);
        transition: none;
        }

    .services h2 {
        margin-bottom: 3rem;

    }

    .porfolio h2 {
        margin-bottom: 3rem;
    }

    .porfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px) {
    .porfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }


}